body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header-font;
  color: #324B9A;
  font-weight: 700;
}

.btn {
  background: #324B9A;
}

.navbar-brand {
  @include header-font;
}

.twitter-share-button {
  vertical-align: bottom;
}