header.masthead {
  position: relative;
  // background-color: $gray-800;
  background: url('../img/bg-masthead.png') no-repeat center center;
  @include background-cover;
  height: calc(100vh - 50px);
  display: flex;

  h1 {
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $gray-200;
  }

  .btn {
    @include button-font;
    min-width: 140px;
    margin-bottom: 10px;
  }

  .container {
    margin-top: auto;
    margin-bottom: 6rem;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }
    .container {
      margin-top: auto;
      margin-bottom: 12rem;
    }
  }
}
