.showcase {
  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    height: 33vw;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 5rem;
    }
  }
  @media (min-width: 1200px) {
    .showcase-text {
      max-height: 33vw;
    }
  }
  @media (max-width: 1199px) {
    .showcase-img {
      height: 66vw;
    }
  }
}
